html {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  background-color: #dddddd;
  padding: 8px;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  text-align: center;
  line-height: 12pt; 
}
#c{
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  text-align: center;
  line-height: 12pt;
}
.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 80px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  line-height: 50pt;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  text-align: center;
  line-height: 12pt;
}

p, li {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;

}


html {
  background-color: #d1deeb;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #e6b777;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}



img {
  display: block;
  margin: 0 auto;
  width: 350px;
  line-height: 12pt;
}

